.ui.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.ui.menu {
    box-shadow: none;
    border: none;
}

.topbar {
    font-size: 2rem!important;
}

.ui.button {
    background: none;
}

.ui.button.topbar.sidemenu {
    border-radius: 0rem;
}

#logo:hover {
    background: none;
}

.actions {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.error.message {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

/*Landing Page*/

.form {
    padding-top: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    padding-bottom:3rem;
}

.hero {
    padding: 13rem;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.hero::after {
    position: absolute;
    background: url('../img/landing/bg.jpg') no-repeat;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#banner-img {
    width: 80%;
    padding: 3rem;
}

#banner-content {
    text-align: center;
    color: #FFFFFF;
}


/*Wrapper*/

.main-wrapper {
    padding: 2rem 9rem 2rem 9rem;
}

.sub-wrapper {
    padding: 2rem 0 2rem 0;
}

/*Items*/
.ui.items>.item{
    max-height: 150px;
    background-color:#e7e7e7;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    
}

.ui.items>.item:hover {
    background-color:#eaae00;
}
/*Typography*/

h1 {
    letter-spacing: 0.25rem;
}
